h3{
    color: red;
    font-weight: bold;
    text-align: center;
}
h1{
    text-align: center;
}
ul li{
    font-size: 1rem; 
    font-weight: bold;
    list-style-type: none;
   
}
.image{
    margin-top: -1400px;  
    margin-left: 170px;
}
.image2{
    margin-top: -1400px;  
    margin-left: 950px;
}
img{
    width: 150px;
    height: 150px;
    margin-bottom: 75px;
}
.first li{
    text-align: center;
    justify-content: center;
}
body{
    background-image: radial-gradient(rgba(255, 255, 255, 0.568), orange, red);
    font-weight: bold;
}
button{
    background-color: rgb(19, 17, 17);
    color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 1s;
}
button:hover{
    background-color: rgb(70, 68, 68);
}

